{% extends 'home.html' %}

{% block title %}Men Store{% endblock %}



{% block content %}
<div class="container">
      <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
          <img src="{{product.image.url}}">
          <div  style="width:285px" class="box-element">
            <h4>{{product.title}}</h4>
            <hr>
            <button class="btn btn-outline-secondary add-btn" data-prodid="{{product.id}}" onclick="addToCart(event)">Add to Cart</button>
            <a class="btn btn-outline-success" href="{% url 'ecomapp:productview' product.slug %}">View</a>
            <h6 style="display:inline-block; float:right">Rs. {{product.price}}</h6>
          </div>
        </div>
        {% endfor %}
      </div>
</div>
  
{% endblock%}